
@{
    ViewBag.Title = "Administrador";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Usuario")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Necesitas administrar los usuarios, pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Colegio")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Colegios</h5>
                        <p class="card-text">Necesitas administrar los colegios, pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Curso")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Cursos</h5>
                        <p class="card-text">Necesitas administrar los cursos, pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Destino")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Destinos</h5>
                        <p class="card-text">Necesitas administrar los destinos, pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Actividad")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Actividades</h5>
                        <p class="card-text">Necesitas administrar las actividades, pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
