@{ ViewBag.Title = "Nuevo Pago";}
@model web_agencia.Models.Views.PagoViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Nuevo Pago</h4>
                    </div>
                </div>
                <div class="card-body ">
                    @using (Html.BeginForm("CrearAsync", "Pago", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Alumno</label>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.Alumno.Rut, Model.MisAlumnos, new { @class = "form-control", @onchange = "GetTotales(this)" })
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Total pagado a la fecha</label>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input id="total_pagar" class="form-control disabled" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Valor</label>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Valor_Pago, new { @class = "form-control" })
                                    <span class="helpblock text-danger">@Html.ValidationMessageFor(m => m.Valor_Pago)</span>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Total pagado</label>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Total_Cuenta, new { @class = "form-control disabled" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 ml-auto mr-auto text-center">
                                <button type="submit" class="btn btn-rose">Crear Pago<div class="ripple-container"></div></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {

            GetTotales($('#Alumno_Rut'));

        });

        function GetTotales(select)
        {
             $.ajax({
                url: "@Url.Action("MisPupilosAjaxAsync", "Alumno")",
                type: "get",
                dataType: "json",
                success: function (data) {
                    var rutSelected = $(select).val();

                    var alumnoElegido = data.filter(function (e) {
                        return e.Rut == parseInt(rutSelected);
                    })[0];

                    $('#total_pagar').val(alumnoElegido.TotalPagar);
                    $('#Total_Cuenta').val((alumnoElegido.TotalReunido == null) ? 0 : alumnoElegido.TotalReunido);

                }
            });
        }


    </script>
}
